<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kanatales_deckmaker.card.repository.CardRepository">
    <select id="findAll">
        select
            *
        from
            card
        order by
            id desc
    </select>

    <select id="findAllByKeyword" parameterType="String">
        select
            *
        from
            card
        where
            name like CONCAT('%',#{keyword},'%')
        order by
            id desc

    </select>

    <select id="findById" parameterType="Long">
        select
            *
        from
            card
        where
            id = #{id}
    </select>


    <select id="findAllPaging" parameterType="com.example.kanatales_deckmaker.common.dto.PageDto">
        select
            *
        from
            card
        <if test="keyword != null and keyword !=''">
            where
                name like CONCAT('%',#{keyword},'%')
        </if>
        order by
            id desc
        limit
            #{page},#{pageLimit}
    </select>

    <select id="findAllCount" resultType="Int" parameterType="com.example.kanatales_deckmaker.common.dto.PageDto">
        select
            COUNT(id)
        from
            card
        <if test="keyword != null and keyword !=''">
            where
            name like CONCAT('%',#{keyword},'%')
        </if>
    </select>

</mapper>
