<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kanatales_deckmaker.deck.repository.DeckRepository">

    <insert id="saveDeck" parameterType="com.example.kanatales_deckmaker.deck.domain.Deck">
        INSERT INTO
            deck(
            userId,
            name,
            card1,
            card2,
            card3,
            card4,
            card5,
            card6,
            card7,
            card8,
            card9,
            card10,
            card11,
            card12,
            card13,
            card14,
            card15,
            card16,
            card17,
            card18,
            card19,
            card20,
            card21,
            card22,
            card23,
            card24,
            card25,
            card26,
            card27,
            card28,
            card29,
            card30,
            image1,
            image2,
            image3,
            image4,
            image5,
            image6,
            image7,
            image8,
            image9,
            image10,
            image11,
            image12,
            image13,
            image14,
            image15,
            image16,
            image17,
            image18,
            image19,
            image20,
            image21,
            image22,
            image23,
            image24,
            image25,
            image26,
            image27,
            image28,
            image29,
            image30
        )
        VALUES(
            #{userId},
            #{name},
            #{card1},
            #{card2},
            #{card3},
            #{card4},
            #{card5},
            #{card6},
            #{card7},
            #{card8},
            #{card9},
            #{card10},
            #{card11},
            #{card12},
            #{card13},
            #{card14},
            #{card15},
            #{card16},
            #{card17},
            #{card18},
            #{card19},
            #{card20},
            #{card21},
            #{card22},
            #{card23},
            #{card24},
            #{card25},
            #{card26},
            #{card27},
            #{card28},
            #{card29},
            #{card30},
            #{image1},
            #{image2},
            #{image3},
            #{image4},
            #{image5},
            #{image6},
            #{image7},
            #{image8},
            #{image9},
            #{image10},
            #{image11},
            #{image12},
            #{image13},
            #{image14},
            #{image15},
            #{image16},
            #{image17},
            #{image18},
            #{image19},
            #{image20},
            #{image21},
            #{image22},
            #{image23},
            #{image24},
            #{image25},
            #{image26},
            #{image27},
            #{image28},
            #{image29},
            #{image30}
        )
    </insert>

    <select id="nameFindByUserId" parameterType="Long" resultType="com.example.kanatales_deckmaker.deck.domain.Deck">
        SELECT
            id,
            name
        FROM
            deck
        WHERE
            userId = #{userId}
        ORDER BY
            id desc
    </select>

    <select id="findById" parameterType="Long" resultType="com.example.kanatales_deckmaker.deck.domain.Deck">
        SELECT
            *
        FROM
            deck
        WHERE
            id = #{id}
    </select>
</mapper>